<h1>Sign in</h1>

<%= form_tag( signin_path, method: :post) do %>

<%= collection_select(:user, :name, User.all, :name, :name, prompt: "Please select your username") %> <br>
<%= password_field_tag(:password) %>

 <%= submit_tag "Sign In" %>
<% end %>

<%= link_to 'Sign Up', '/users/new'%>