<h1>Name: <%= @user.name %> </h1>
<% if !@user.admin %>
    <p>Name: <%= @user.name %></p>
    <p>Tickets: <%= @user.tickets %></p>
    <p>Mood:  <%= @user.mood %></p>
    <p>Height: <%= @user.height %> inches</p>
<% else %>
<%= "ADMIN" %>
<% end %>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<li><%= link_to 'See attractions', attractions_path %></li>
<li><%= link_to 'Log Out', signout_path %></li>